.sichuan .sichuan-container {
    width: 1200px;
    margin: 0 auto;
}
.sichuan .title {
    width: 123px;
    margin: 50px 0 30px;
}
.sichuan .des-text {
    line-height: 36px;
    letter-spacing: 2px;
    text-align: justify;
}
.sichuan .com-share-link {
    position: static;
    float: right;
}
.sichuan .link:hover {
    color: #fff;
    text-decoration: none;
}
.sichuan .introduce-img {
    position: relative;
    width: 750px;
    height: 430px;
    margin: 55px auto 20px;
}
.sichuan .introduce-img-back {
    width: 400px;
    height: 322px;
}
.sichuan .introduce-img-before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 476px;
    height: 382px;
}
.sichuan .resource-sub-wrap{
    align-items: flex-end;
    width: 1052px;
    margin: 0 auto;
}
.sichuan .resource-item {
    display: flex;
    width: 25%;
}
.sichuan .item-content {
    position: relative;
    top: 20px;
}
.sichuan .item-ul {
    line-height: 36px;
    font-size: 18px;
    text-align: left;
}
.sichuan .item-ul li {
    margin: 0 15px 0 0;
}
.sichuan .resource-icon {
    width: 63px;
    margin-right: 10px;
}
.sichuan .resource-icon-a {
    height: 315px;
    background: url('../../image/share/sichuan/resource-1.png') no-repeat;
    background-size: 100% auto;
}
.sichuan .resource-icon-b {
    height: 268px;
    background: url('../../image/share/sichuan/resource-2.png') no-repeat;
    background-size: 100% auto;
}
.sichuan .resource-icon-c {
    height: 315px;
    background: url('../../image/share/sichuan/resource-3.png') no-repeat;
    background-size: 100% auto;
}
.sichuan .resource-icon-d {
    height: 243px;
    background: url('../../image/share/sichuan/resource-4.png') no-repeat;
    background-size: 100% auto;
}
.sichuan .resource-sub-title {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}
.sichuan .title-a {
    color: #38b9cf;
}
.sichuan .title-b {
    color: #e98a3b;
}
.sichuan .title-c {
    color: #e05d4e;
}
.sichuan .title-d {
    color: #93b91e;
}
.sichuan .resource-bottom-img {
    width: 100%;
    height: 75px;
    margin-top: -15px;
    margin-bottom: 50px;
    background: url('../../image/share/sichuan/resource-5.png') no-repeat;
    background-size: 100% auto;
}
@media screen and (max-width: 800px){
    .sichuan .sichuan-container {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    .sichuan .des-text {
        line-height: 20px;
        letter-spacing: normal;
        font-size: 12px;
    }
    .resource-sub-wrap {
        display: block;
    }
    .sichuan .introduce-img {
        width: 100%;
        height: 50vw;
        /* padding: 0 35px; */
        padding: 0 11vw;
        margin: 0;
        box-sizing: border-box;
    }
    .sichuan .introduce-img-before {
        right: 11vw;
        width: 60%;
        height: auto;
    }
    .sichuan .introduce-img-back {
        width: 66%;
        height: auto;
    }
    .sichuan .resource-sub-wrap {
        position: relative;
        width: 100%;
        height: 40vh;
    }
    .sichuan .resource-sub-title {
        font-size: 14px;
        white-space: nowrap;
    }
    .sichuan .resource-item {
        position: absolute;
        width: 40%;
    }
    .sichuan .item-ul {
        line-height: 20px;
        font-size: 12px;
    }
    .sichuan .resource-item-a {
        top: 10vh;
    }
    .sichuan .resource-item-b {
        top: -3.5vh;
        left: 28%;
    }
    .sichuan .resource-item-c {
        bottom: -2vh;
        left: 48%;
    }
    .sichuan .resource-item-d {
        top: 3.5vh;
        right: -20px;
    }
    .sichuan .resource-icon {
        width: 8vw;
        height: auto;
        margin: 0 2vw 0 0;
    }
    .sichuan .item-ul li {
        margin: 0 2vw 0 0;
    }
    .sichuan .resource-bottom-img {
        height: 4vh;
        margin: 0;
    }
    .sichuan .mobi-item-content {
        top: 0;
    }
    .sichuan .resource-icon-a {
        height: 24vh;
        margin-top: -4vh;
    }
    .sichuan .resource-icon-b {
        height: 21vh;
    }
    .sichuan .resource-icon-c {
        height: 24vh;
    }
    .sichuan .resource-icon-d {
        height: 18vh;
    }
    .sichuan .title {
        margin: 15px 0 0;
    }
    .sichuan .share-title {
        margin: 15px 0 35px;
    }
}

/* @media screen and (min-width: 400px) and (max-width: 800px) {
    .sichuan .introduce-img {
        height: 55vw;
    }
} */